body {background-color:floralwhite;}

#Logo img {
    width: 900px;
    height: 400px;
    position: center;
    margin-left: 50px;
}

h2 {
  
    margin-right: 200px;
  
}


#header img {
    position: center;
    padding-left: 0px;
    padding-bottom: 30px; 
    padding-top: 70px;
    width: 100%;
    height: 100%;
}

#Navigation1{
    float: left;

}


#Navigation1 img {
    height: auto;
    width: auto
   
}

#Navigation1 ul li{
    display:inline;
    text-decoration:none;
    color:black;
    list-style:none;
    padding-left:10px;
    font-size:17px;
    border-left: 1px solid black;


}

#Navigation1{
    float: left;

}

#Navigation1 img {
    height: auto;
    width: auto
   
}


#Navigation1 ul li {
        display: inline;
        text-decoration: none;
        color: black;
        list-style: none;
        padding-left: 10px;
        font-size: 17px;
        border-left: 1px solid black;
}

p {
    text-decoration:none;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 40px;

}

.required{
    color:red;


}

#Navigation1 a:link {
        text-decoration: none;
        color: black;

}

#map
{
    height: 292px;
    width: 542px;
    border: 1px solid black;
    margin-right: 6px;
    margin-bottom: 0px;
    margin-left: 100px;
    padding-left: 100px;

}

#footer li {
    display: inline;
    position: relative;
}

#footer ul {
    list-style-type: none;
    margin: 0;
    margin-left: 0px;
    padding: 0;
}

#footer ul li {
    display: inline-block;
}

#footer ul li a {
    display: block;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}


#Navigation2{
    float: left;
    padding-left:360px;
}

#Navigation2 a:link{
    text-decoration:none;
    color:antiquewhite;
}


body {background-color:floralwhite;}



.cntctfrm {
    width:450px;
    Height:120px;
}

.cntctfrm {
    width: 355px;
    height: 30px;
}

.name  {
    margin-left: 0px;
    Width:154px;

}

.email {
    margin-left: 0px;
    Width:154px;
}


.subject {
    margin-left: 0px;
    Width:154px;
}
    
.message{
    margin-left: 0px;
    Width:154px;
}

.sndbttn{

}
 #map {
     height:100%;
 }
  
#logo img{
    padding-left: 400px;
    padding-top: 10px;
}

#Navigation2 ul li{
    display:inline;
    text-decoration:none;
    color:black;
    list-style:none;
    padding-left:10px;
    font-size:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

   
}

#ArabesqueColl {

}

.social-media-icons img {
    height: 50px;
    width: 50px;
}

#spotlight .newitemwrapper-spotlight h2 {
    margin-right: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.Prdct1 {
    float: right;
    border: 5px solid black;
    margin: 80px 20px 50px 20px;
    border: 3px solid grey;
    margin-top: 1px;
    position: relative;
    width: 225px;
    height: 270px;
    overflow: hidden;
    margin-right: 100px;
}

.Prdct1 img {
    height: 100%;
    width: 100%;
}


#footer {clear:both;padding: 100px 0; border-top: 1px #000 dotted;}
#footer {text-align:center; font-weight: bold; font-size: 14px; }
#footer a:link {color:black;text-decoration:dotted; }

.newitemwrapper-contactmap {
    margin: auto;
}



#map {
    height:200px;
    width:100px;
    border:1px solid black;
    float: left;
    margin: 0px 100px;
    padding: 0px 100px;
    text-align: center;
}